<div>
  <h2 class="pb-4 text-4xl">
    <a class="hover:underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  </h2>
  {{ if .Date }}
    <div class="pb-2 opacity-50">
      {{ partial "date.html" (dict "date" .Date) }}
    </div>
  {{ end }}
  {{ if .Description }}
    <div class="markdown prose footnotes-hidden w-full max-w-none pb-2">
      {{ .Description | markdownify }}
    </div>
  {{ else }}
    {{ .Summary }}
  {{ end }}
  {{ if .Params.tags }}
    <div class="pb-2">
      <ul class="flex list-none flex-row items-center opacity-50">
        {{ range $index, $tag := .Params.tags }}
          {{ if ne $index 0 }}
            <li class="mx-2">•</li>
          {{ end }}
          <li>
            <a href="/tags/{{ $tag }}">{{ $tag }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>
